---
all:
  children:
    nfs-server:
      hosts:
        node1.example.com:
          ansible_host: 192.168.0.29
    rhv:
      children:
        rhv-manager:
          hosts: 
            rhvm.example.com:
              ansible_host: 192.168.0.33
        rhv-hosted-engine:
          hosts: 
            node2.example.com:
              ansible_host: 192.168.0.30
        rhv-hypervisors:
          hosts:
            node3.example.com:
              ansible_host: 192.168.0.31
            node4.example.com:
              ansible_host: 192.168.0.32
  vars:
    ansible_ssh_user: root
...
